CFUserTextEncoding
        ../../../.DS_Store
        ../../../.RData
        ../../../.Rapp.history
        ../../../.Rhistory
        ../../../.android/
        ../../../.atom/
        ../../../.babel.7.14.6.production.json
        ../../../.bash_history
        ../../../.bash_sessions/
        ../../../.bitnami/
        ../../../.cache/
        ../../../.cargo/
        ../../../.cisco/
        ../../../.codeium/
        ../../../.config/
        ../../../.cups/
        ../../../.docker/
        ../../../.eclipse/
        ../../../.emulator_console_auth_token
        ../../../.expo/
        ../../../.git-credentials
        ../../../.gitconfig
        ../../../.gitignore
        ../../../.gk/
        ../../../.gradle/
        ../../../.idlerc/
        ../../../.ipython/
        ../../../.jupyter/
        ../../../.keras/
        ../../../.lesshst
        ../../../.local/
        ../../../.m2/
        ../../../.matplotlib/
        ../../../.node_repl_history
        ../../../.npm-global/
        ../../../.npm/
        ../../../.npmrc
        ../../../.oracle_jre_usage/
        ../../../.p2/
        ../../../.profile
        ../../../.r/
        ../../../.rstudio-desktop/
        ../../../.rustup/
        ../../../.ssh/
        ../../../.streamlit/
        ../../../.tamagui/
        ../../../.viminfo
        ../../../.vpn/
        ../../../.vscode/
        ../../../.yarn/
        ../../../.yarnrc
        ../../../.zprofile
        ../../../.zprofile.pysave
        ../../../.zsh_history
        ../../../.zsh_sessions/
        ../../../.zshenv
        ../../../.zshrc.save
        ../../../.zshrc.save.1
        ../../../12-20 DARS Audit.pdf
        ../../../1st Mid-term Grades.html
        ../../../1st Mid-term Grades_files/
        ../../../AnimeProject.ipynb.code-workspace
        ../../../Applications/
        ../../../BETTING_ML/
        ../../../Cargo.lock
        ../../../Cargo.toml
        ../../../Desktop/.localized
        ../../../Documents/
        ../../../Downloads/
        ../../../GeoCracker/
        ../../../Library/
        ../../../Movies/
        ../../../Music/
        ../../../NLP-DisasterTweets/
        ../../../Personal-Website-1/
        ../../../Personal-Website/
        ../../../Pictures/
        ../../../Public/
        ../../../SamurAIs/
        ../../../Sites/
        ../../../StudioProjects/
        ../../../Tiktok-Sounds-Downloader/
        ../../../ai-dashboard/
        ../../../arbitrary-game/
        ../../../arbitrary.rs
        ../../../boi/
        ../../../cs225git/
        ../../../data/
        ../../../demo/
        ../../../hack-illinois-24/
        ../New Folder With Items/
        "../Screenshot 2024-08-30 at 9.16.21\342\200\257PM.png"
        "../Screenshot 2024-11-08 at 3.28.37\342\200\257AM.png"
        "../Screenshot 2024-11-09 at 11.36.30\342\200\257PM.png"
        "../Screenshot 2024-11-10 at 4.41.24\342\200\257AM.png"
        "../Screenshot 2024-11-10 at 4.44.12\342\200\257AM.png"
        "../Screenshot 2024-11-10 at 5.55.25\342\200\257AM.png"
        "../Screenshot 2024-11-10 at 6.09.56\342\200\257AM.png"
        ../../Documents/
        ../../Keynote/
        ../../../import java.awt.Color;.java
        ../../../mid-term.html
        ../../../mid-term.pdf
        ../../../mid-term_files/
        ../../../midterm.pdf
        ../../../mnist_first2400.RData
        ../../../mnist_first2600.RData
        ../../../mp0-pre-flight-secret-code-ramanansrirajan/
        ../../../node
        ../../../node_modules/
        ../../../npm
        ../../../package-lock.json
        ../../../package.json
        ../../../pip
        ../../../pr-review-activity-pr-review-team86/
        ../../../src/
        ../../../starting.R
        ../../../temp_model.ipynb
        ../../../twitter-clone-new/
        ../../../yarn.lock
        ../../../yeet
        ../../../yeet.pub